<div class="container">
  <div class="row">
    <div class="col">
      <div class="card bg-light min-vh-100-navbar">
        <div class="card-body mx-auto d-flex align-items-center" style="max-width: 400px">
          <div>
            <h4 class="card-title mt-3 text-center">Create Account</h4>
            <!-- <p class="text-center">Get started with your free account</p>
            <p>
              <a href="" class="btn btn-block btn-twitter">
                <i class="fab fa-twitter"></i>   Login via Twitter</a
              >
              <a href="" class="btn btn-block btn-facebook">
                <i class="fab fa-facebook-f"></i>   Login via facebook</a
              >
            </p>
            <p class="divider-text">
              <span class="bg-light">OR</span>
            </p> -->
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" ngNativeValidate>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input
                  name=""
                  class="form-control"
                  placeholder="Username"
                  type="text"
                  required
                  [formControlName]="'username'"
                />
              </div>
              <!-- form-group// -->
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
                <input
                  name=""
                  class="form-control"
                  placeholder="Email address"
                  type="email"
                  required
                  [formControlName]="'email'"
                />
              </div>
              <!-- form-group// -->
              <!-- <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                </div>
                <select class="custom-select" style="max-width: 120px">
                  <option selected="">+32</option>
                  <option value="1">+31</option>
                  <option value="3">+33</option>
                  <option value="3">+49</option>
                  <option value="3">+352</option>
                </select>
                <input
                  name=""
                  class="form-control"
                  placeholder="Phone number"
                  type="text"
                />
              </div> -->
              <!-- form-group// -->
              <!-- <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-building"></i>
                  </span>
                </div>
                <select class="form-control">
                  <option selected="">Select job type</option>
                  <option>Designer</option>
                  <option>Manager</option>
                  <option>Accaunting</option>
                </select>
              </div> -->
              <!-- form-group end.// -->
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input
                  id="password"
                  class="form-control"
                  placeholder="Create password"
                  type="password"
                  required
                  onchange="validatePassword()"
                  [formControlName]="'password'"
                />
              </div>
              <!-- form-group// -->
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input
                  id="confirm_password"
                  class="form-control"
                  placeholder="Confirm password"
                  type="password"
                  required
                  onkeyup="validatePassword()"
                  [formControlName]="'confirmPassword'"
                />
              </div>
              <!-- form-group// -->
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">
                  Register
                </button>
              </div>
              <!-- form-group// -->
              <p class="text-center">Have an account? <a href="">Sign In</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- card.// -->
</div>
<!--container end.//-->
