<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">berry</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" *ngIf="authService.isAuthenticated()">
            <li class="navbar-item"><a href="" class="nav-link">Explore</a></li>
            <li class="navbar-item"><a href="" class="nav-link">My blog</a></li>
            <a href="/register" class="btn btn-primary ml-1"><i class="fas fa-edit"></i> New blog post</a>
      </ul>
      <ul class="navbar-nav ml-auto">
          <div *ngIf="!authService.isAuthenticated()">
            <a href="/sign-in" class="btn btn-secondary mr-2">Sign in</a>
            <a href="/register" class="btn btn-primary">Register</a>
          </div>
      </ul>
    </div>
  </nav>