<div class="container">
  <div class="row">
    <div class="col">
      <div class="card bg-light min-vh-100-navbar">
        <div
          class="card-body mx-auto d-flex align-items-center"
          style="max-width: 85%"
        >
          <div>
            <h2>{{ post.title }}</h2>
            <div>
              <p><i class="fas fa-user"></i> Author: {{ post.username }}</p>
            </div>
            <p [innerHTML]="post.content"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
