<div class="min-vh-100-navbar d-flex align-items-center bg-lorem-fullhd">
  <div class="container text-center">
    <div class="row text-white">
      <div class="col-12">
        <h2 style="margin-bottom: -2rem;">
            <span *ngIf="!authService.isAuthenticated()">Say hello</span>
            <span *ngIf="authService.isAuthenticated()">Welcome back</span>
             to</h2>
        <h1 class="brand-logo">berry</h1>
      </div>
      <div class="col-12 mt-3">
        <p>Start 
            <span *ngIf="!authService.isAuthenticated()">blogging</span>
            <span *ngIf="authService.isAuthenticated()">exploring</span>
             today</p>
        <a href="/register" class="btn btn-primary mr-2" *ngIf="!authService.isAuthenticated()">Register</a>
        <a href="/explore" class="btn btn-primary mr-2" *ngIf="authService.isAuthenticated()">Explore</a>
      </div>
    </div>
  </div>
</div>
